.quadrants {
  display: grid;
  grid-template-areas:
    "wantNotHave wantHave"
    "notWantNotHave haveNotWant";
  width: 50vw;
}

.wantNotHave {
  grid-area: wantNotHave;  
}

.notWantNotHave {
  grid-area: notWantNotHave;  
}

.wantHave {
  grid-area: wantHave;  
}

.haveNotWant {
  grid-area: haveNotWant;  
}

.taskArea {
  height: 100px;
  width: 100%;
  /* border: 1px solid black; */
}

.taskInput {
  height: 1.5rem;
  width: 100%;
  padding: 0px;
  border: 1px solid black;
}